.Cabecera{
    margin:0;
    position: relative;
    clear:both;
    font-size: 150px;
    font-family: monospace;
    background-color: #000000;
    text-align: center;
    color: white;
    width: 98,5%;
    height: 230px;
    padding: 20px;
    border-width: 0;
}

.CajaMenu{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    font-size: 30px;
    width: auto;
    height: auto;
    background: #ccc;
    border-width: 2%;
    border-color: red;
    border-style: solid;
}

.menu{
    margin: 4%;
}

.fotoAtomo{
    top: 12%;
    left: 1%;
    position: absolute;
    float: left;
    clear: left;
    width: 190px;
    height: 190px;
    background-image: url(image/atomo.png);
    background-repeat: no-repeat;
    background-size: 190px 190px;
}

.cuerpoPrincipal{
    margin: 10px;
    position: relative;
    width: 80%;
    height: 900px;
    float: left;
    clear: left;
    background-color: blue;
}

body{
    background-image: url(image/texturaMadera.jpg);
    background-repeat: repeat;
}

.barraLateral{
    position: relative;
    background-color: white;
    height: 900px;
    width: 18.1%;
    margin: 10px;
    float: right;
}

.tituloEnlaces{
    clear:left;
    font-size: 50px;
}

.enlacesAux{
    font-size: 35px;
}