.Cabecera{
    margin:0;
    position: relative;
    clear:both;
    font-size: 100px;
    background-color: #666;
    text-align: center;
    color: white;
    width: 98,5%;
    height: 230px;
    padding: 20px;
    border-width: 0;
}

.CajaMenu{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    font-size: 20px;
    width: auto;
    height: auto;
    background: #ccc;
    border-width: 2%;
    border-color: red;
    border-style: solid;
}

.menu{
    margin: 5%;
}

.fotoAtomo{
    top: 12%;
    left: 1%;
    position: absolute;
    float: left;
    clear: left;
    width: 150px;
    height: 150px;
    background-image: url(image/atomo.png);
    background-repeat: no-repeat;
    background-size: 150px 150px;
}